.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#59595c, #14142b);
    position: fixed;
    letter-spacing: 2px;
    width: 100%;
    height: 65px;
    color: rgb(20, 19, 19);
  
   
    opacity: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

ul {
    display: flex;

}

body {}

 a {

    padding-right: 10px;
    margin-bottom: 3px;
    color: rgb(230, 224, 228);
    
    font-size: 20px;
    letter-spacing: 2px;

}

a:hover {
    color: rgb(216, 118, 118);
}

* {
    margin: 0;
}

@media screen and (max-width:768px) {
    
   
    .profilepic {
        position:absolute;
        top: 0px;
        left: 50%;
    
      
    }
   
    ul {

        flex-direction: column;
    }

    .header-main {
        flex-direction: column;
        align-items: flex-start;

    }
a{
    font-size: medium;
}
.projects h4{
    font-size: smaller;
}





    main {
        padding-top: 95px;



    }


    .contact-details {
        flex-direction: column;
    }



}

.header-main h3::after {
    content: "🙌";
    font-size: larger;

}


.header-main h3::before {
    content: "🙌";
    font-size: larger;
}

.name-holder {
    padding: 5px;
    background-color: teal;
    margin-bottom: 10px;
    margin-top: 10px;
    width: max-content;
    border-radius: 0 50px 50px 0;

}

.name-holder h3 {
    color: rgb(231, 222, 198);
}

.footer-holder {
    display: grid;
    grid-template-columns: 0.2fr 2.3fr;
    grid-template-areas: "contact contact-details";



}

footer {
    margin-top: auto;
    margin-bottom: 0px;
}

main {

    margin-top: 65px;


}



.about-holder {
    display: grid;
    grid-template-columns: 0.2fr 0.5fr 1.8fr;

    grid-template-areas: "side pic main";


}

.abouttext {
    grid-area: side;
    border-right: 5px solid rgb(123, 50, 122);
    padding: 5px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
   
  
}



.about-holder p {
    text-align: left;
    color: rgb(45, 69, 201);
}

.aboutdes {
  
    grid-area: main;
    display: flex;
    align-items: center;




}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  
    background-color:rgb(187, 239, 239)
}






header {}

.work-holder {




    display: grid;
    grid-template-columns: 0.2fr 2.3fr;
    grid-template-areas:
        "side project-holder";
      
       
       
 
 

}
.project-holder{
    
    display: grid;
    grid-template-columns: 1.3fr 1fr ;
    grid-template-areas: 
    "main main"
    "p1 p2"
    "p3 p4";
    width: max-content;
    margin: 0 5% 0 5% ;
  
}

.projects {
    border-style: inset;
    border: 5px solid rgb(3, 3, 53);
    background-color: #a5aae4;
    margin: 5px;
    display: flex;
    align-items: flex-end;
   
    opacity: 0.7;


}
.aboutwor{
    margin: 5px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-right: 5px solid;
    ;
    padding: 5px;
    grid-area: side;
}

.work-holder h4 {

    background-color: rgb(84, 132, 132);
    font-size: xx-large;
    padding: 5px;
}



.main-work {
    grid-area: main;
  
    height: 433px;
    width: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://i.ibb.co/mJFmZqN/marketing.jpg');
   

}

.project1 {
    grid-area: p1;
    background-image: url('https://i.ibb.co/w6d4cvr/led.jpgg');
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    width: 325px;
    height: 246px;

}

.project2 {
    grid-area: p2;
    background: url('https://i.ibb.co/QHH8Vf0/calculater.jpg');
    background-size: cover;
  
    width: 325px;
    height: 246px;
}

.project3 {
    grid-area: p3;
    background-image: url("https://i.ibb.co/GVDN7sf/pastel.jpg");
    background-size: cover;
    width: 325px;
    height: 246px;
   
}

.project4 {
    background-image: url('https://i.ibb.co/Rbq9Cw2/run.jpg');
    grid-area: p4;
    width: 325px;
    height: 246px;
    
}

.logoholder {
   color: rgb(149, 107, 157);
    height: 90px;
    text-align: left;
    font-weight: bold;
    padding-left: 10px;
    background-image: url('https://i.ibb.co/wC0C7q1/headerblue.webp');

}


.projects:hover {
    opacity: 1
}

.profilepic {
    grid-area: pic;
    
    margin-left: 20px;

    height: auto;

}


.des {
    font-size: 15px;
}

.contact {
    grid-area: contact;
    border-right: 5px solid;
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.contact-details {
    grid-area: contact-details;
    display: flex;
    justify-content: space-around;
    margin: 5px;
    margin-left: 25px;
    column-span: 2;
}


section{
 margin: 50px;
}
.aboutmelink {
    font-size: 15px;
    color: #14142b;
}
.projects:hover{
    transform: scale(1.1);
}
