.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#f0cccc, #a5aae4);;
    position: fixed;
    letter-spacing: 2px;
    width: 100%;
    color: snow;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
    display: flex;

}
body{
    background-color: rgb(232, 234, 236);
}

a {
    letter-spacing: 2px;
    padding-right: 20px;
    margin-bottom: 3px;
    color: rgb(42, 56, 66);
    font-size: larger;
    
}

a:hover{
    color: snow;
}
* {
    margin: 0;
}

@media screen and (max-width:768px) {
    ul {

        flex-direction: column;
    }

    .header-main {
        flex-direction: column;
        align-items: flex-start;
    }
    .contactinfo ul li{
      
     
        font-size: medium;
    }
    .cotactholder h1{
        font-size: medium;
    }

 
}

h3::after {
    content: "🙌";
    font-size: larger;

}

h3::before {
    content: "🙌";
    font-size: larger;
}

.name-holder {
    padding: 20px;
    background-color: rgb(48, 73, 110);
    margin-bottom: 10px;
    margin-top: 10px;
    width: max-content;
    border-radius: 0 50px 50px 0;
}
#footer{
 display: flex;
 justify-content: space-between;
 padding: 20px;
 background: linear-gradient(#f0cccc, #a5aae4);;
  color: rgb(10, 112, 112);
  letter-spacing: 2px;
}

footer{
    margin-top: auto;
}
main{
   
 
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.contactinfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contactinfo li{
    padding-right:50px;
    list-style: none;
    font-size: x-large;
    margin-bottom: 5px;    
}
.cotactholder h1{
    font-size: x-large;
}

