.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #3f87a6);
    position: fixed;
    letter-spacing: 2px;
    width: 100%;
    height: 45px;
    color: rgb(20, 19, 19);
  
  
   
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

ul {
    display: flex;

}

body {}

 a {

    padding-right: 10px;
    margin-bottom: 3px;
    color: rgb(13, 4, 30);
    
    font-size: 15px;
    letter-spacing: 2px;

}

a:hover {
    color: rgb(216, 118, 118);
}

* {
    margin: 0;
}

@media screen and (max-width:768px) {
    
   
   
    ul {

        flex-direction: column;
    }

    .header-main {
        flex-direction: column;
        align-items: flex-start;
        height: 135px;

    }
a{
    font-size: medium;
}
.projects h4{
    font-size: smaller;
}
.pcidesholder{
display: block;
}
.sidetext h3 {
    font-size: 2px;
   
}




    main {
        padding-top: 95px;



    }


    .contact-details {
        flex-direction: column;
    }
    .logoholder{
        margin-top: 100px;
    }



}

.header-main h4::after {
    content: "🙌";
    font-size: larger;

}


.header-main h4::before {
    content: "🙌";
    font-size: larger;
}

.name-holder {
    padding: 5px;
    background-color: rgb(61, 53, 92);
    margin-bottom: 10px;
    margin-top: 10px;
    width: max-content;
    border-radius: 0 50px 50px 0;

}

.name-holder h4 {
    color: rgb(231, 222, 198);
}

.footer-holder {




}

#footer {
    display: grid;
    grid-template-columns: 0.3fr 2.1fr;
    grid-template-areas: "contact contact-details";
    margin-top: auto;
    margin-bottom: 0px;
}

main {

    margin-top: 45px;


}



.about-holder {
    display: grid;
    grid-template-columns: 0.3fr 2.1fr;
   
    grid-template-areas: "side pcidesholder";
    grid-template-rows: max-content;


}

.abouttext {
    grid-area: side;
    border-right: 5px solid;
    padding: 5px;
;
   
    display: flex;
    align-items: center;
   
   
  
}
.sidetext h3{
    font-size: 20px;
   
}


.about-holder p {
    text-align: left;
    color: rgb(45, 69, 201);
}

.aboutdes {
  
    grid-area: main;
    padding: 20px;




}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  
    background-color:  linear-gradient(0.25turn, #3f87a6, #ebf8e1, #3f87a6);
}






header {}

.work-holder {




    display: grid;
    grid-template-columns: 0.3fr 2.1fr;
    grid-template-areas:
        "side project-holder";
      
       
       
 
 

}
*{
    box-sizing: border-box;
}
.project-holder{
    margin-left: 5%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 1.2fr 1.2fr ;
    grid-template-areas: 
    
    "main main"
    "p1 p2"
    "p3 p4";
    width: 70%;
   
    grid-gap:10px;
  
}

.projects {
    border-style: inset;
    border: 5px solid rgb(3, 3, 53);
    background-color: #a5aae4;
    margin: 5px;
    display: flex;
    align-items: flex-end;
   
    opacity: 0.7;


}
.aboutwor{
  
   
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-right: 5px solid;
    ;
    padding: 5px;
    grid-area: side;
}

.work-holder a {

    background-color: rgb(84, 132, 132);
    font-size: x-large;
    padding: 5px;
}



.main-work {
    grid-area: main;
  
    height: 433px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://i.ibb.co/BKJqmF9/garbazo.jpg');
   

}

.project1 {
    grid-area: p1;
    background-image: url('https://i.ibb.co/w6d4cvr/led.jpgg');
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    width: 100%;
    height: 246px;

}

.project2 {
    grid-area: p2;
    background: url('https://i.ibb.co/QHH8Vf0/calculater.jpg');
    background-size: cover;
  
    width: 100%;
    height: 246px;
}

.project3 {
    grid-area: p3;
    background-image: url("https://i.ibb.co/GVDN7sf/pastel.jpg");
    background-size: cover;
    width: 100%;
    height: 246px;
   
}

.project4 {
    background-image: url('https://i.ibb.co/Rbq9Cw2/run.jpg');
    grid-area: p4;
    width: 100%;
    height: 246px;
    
}


.logoholder {
   
   color: rgb(226, 213, 229);
    height: 100px;
    padding: 5px;
    width: 100%;
    text-align: right;
    font-weight: bold;
    
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    background-image: url('https://i.ibb.co/Y7BRmxq/gradient-dark-blue-futuristic-digital-grid-background.jpg');
    background-size: cover;

}


.projects:hover {
    opacity: 1
}

.profilepic {
    grid-area: pic;
    
    margin-left: 20px;

    height: auto;

}


.des {
    font-size: 15px;
}

.contact {
    grid-area: contact;
    border-right: 5px solid;

    display: flex;
    align-items: center;
 
   
    padding: 5px;
}

.contact-details {
    grid-area: contact-details;
    display: flex;
    justify-content: space-around;
 
    column-span: 2;
    margin-left: 5%;
    margin-left: 5%;
}


section{
  margin: 2% 0% 2% 5% ;
}
.aboutmelink {
    font-size: 15px;
    color: #14142b;
}
.projects:hover{
    transform: scale(1.1);
}
.pcidesholder{

    margin-left: 5%;
    margin-left: 5%;
  display: grid;
  grid-template-columns: 0.5 1.5;
  grid-template-areas: "pic main";

}
